* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans";
}

.container {
    height: 100vh;
    display: flex;
}

.left-side {
    background-image: url("../img/bg.png");
    position: relative;
}

.right-side {
    background-color: #fff;
}

.side {
    width: 100%;
    height: 100%;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #0f6048;
    font-size: 44px;
    font-weight: 100;
    text-align: center;
}

.left-side p {
    font-size: 24px;
    font-weight: 0;
    color: #fff;
    width: 300px;
    text-align: center;
}

.right-side p {
    font-size: 18px;
    color: #4b4f4e;
    text-align: center;
}

.left-side h1 {
    margin-bottom: 50px;
}

.left-side .content-box {
    margin-top: -70px;
}

/* white arrow styles */
.white-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translate(0, -50%);
}

/* form styles */

.form-group {
    width: 327px;
    margin-bottom: 23px;
    position: relative;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group input,
.form-group select {
    font-size: 18px;
    width: 100%;
    padding: 15px 20px;
    background: #e1f8f6;
    border: none;
    margin-bottom: 20px;
    height: 54px;
}

.form {
    margin-top: 25px;
}

.form-select::after {
    content: url("../img/arrow.png");
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
    pointer-events: none;
}

.form-date::after {
    content: url("../img/calendar.png");
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.00001;
}

.form-group .form-button {
    color: #fff;
    border-radius: 27px;
    background: linear-gradient(to right, #179570, #58af9b 62%);
}

@media (max-width: 991.98px) {
    .left-side {
        background-image: url("../img/bg-phone.png");
    }
    .container {
        flex-direction: column;
    }
    .left-side .content-box {
        margin-top: 0;
    }
    .side {
        padding: 170px 50px;
    }

    .white-arrow {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff;

        position: absolute;
        right: unset;
        bottom: 115px;
        top: unset;
        transform: translate(0, -50%);
    }
}

/* // table // */
.table-container {
    width: 1000px;
    margin: 100px auto;
    font-size: 18px;
    padding: 50px;
}

.table-container h1 {
    color: #58af9b;
    margin-bottom: 125px;
}

table {
    font-size: 18px;
    width: 100%;
    border-collapse: collapse;
}

.table-header div:nth-child(1),
td:nth-child(1) {
    text-align: left;
}
.table-header div:nth-child(2),
td:nth-child(2) {
    text-align: center;
}
.table-header div:nth-child(3),
td:nth-child(3) {
    text-align: right;
}

tbody {
    border-collapse: collapse;
}

td {
    padding: 16px 24px;
    width: 33.33%;
    background: #e1f8f6;
    border: none;
}

tr {
    border-bottom: 15px solid #fff;
}

tr:last-child {
    border-bottom: unset;
}

.table-header {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.table-header div {
    background-color: #58af9b;
    color: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

@media (max-width: 991.98px) {
    .table-container {
        width: 100%;
    }
    .table-header div {
        border-radius: 0;
    }

    .table-header {
        gap: 0;
    }
}

.customValidate {
    color: #e7515a;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 0.25rem;
}

#alertContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    padding: 20px;
}

.success {
    background-color: #58af9b;
}

.error {
    background-color: #e7515a;
}

/* pagination */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 50px;
    justify-content: center;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #58af9b;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #58af9b;
    border-color: #58af9b;
}
